:root,
:host {
  --fa-style-family-brands: "Helvetica";
  --fa-font-brands: normal 400 1em/1 "Helvetica";
}

/* 4K:  */
header {
  padding: 7.5px;
}

header.fixed {
  background: linear-gradient(
    to right,
    var(--color-orange-1) 30%,
    var(--color-orange-2) 100%
  );
}

a.logo img.logo-secondary {
  display: none;
}

header.fixed a.logo img.logo-primary {
  display: none;
}

header.fixed a.logo img.logo-secondary {
  display: block;
}

nav ul li {
  color: #fff;
  margin-right: 90px;
  text-transform: uppercase;
  font-weight: 600;
}

nav ul li:last-of-type {
  margin-right: 0;
}

nav ul li a {
  color: #fff;
  letter-spacing: 4px;
}

header.fixed nav ul li,
header.fixed nav ul li a {
  color: white;
}

.bg-banner {
  background: url("images/bg.png") no-repeat center;
  background-size: cover;
}

/* Hide everything except mobile-only content on mobile devices */
@media (width <= 768px) {
  .mobile-only {
    display: flex; /* Show mobile-only content */
    flex-direction: column;
    padding: 30px;
    background: var(--color-blue-1);
  }

  section .mobile-only ~ div {
    display: none; /* Hide other divs outside of mobile-only */
  }
}

/* Show other content on larger screens */
@media (width >= 769px) {
  .mobile-only {
    display: none; /* Hide mobile-only content */
  }

  section div {
    display: flex; /* Show other divs */
  }
}

.about {
  background: var(--color-blue-1);
}

.about-title {
  font-family: Helvetica;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 4px #000;
  text-transform: uppercase;
  color: var(--color-orange-1);
}

.scroll-button {
  background: var(--color-blue-1);
  width: 100%;
  font-size: 48px;

  .specs_items .item img {
    max-width: 50%;
  }

  text-align: center;
  transition: 0.4s;

  a {
    background: linear-gradient(
      to right,
      var(--color-orange-1) 30%,
      var(--color-orange-2) 100%
    );
    color: white;
    padding: 30px;
    border-radius: 50px;
    outline: 2px solid var(--color-blue-1);
  }

  a:link {
    color: white;
  }

  a:visited {
    color: white;
  }

  a:hover {
    color: white;
  }

  a:active {
    color: white;
  }
}

@media (width <= 768px) {
  .scroll-button {
    font-size: 22px;

    a {
      padding: 10px;
    }
  }
}

.videoplayicon {
  width: 180px;
  height: 180px;
  border: 1px solid #fff;
}

.specs_items .item {
  flex-basis: 17%;
}

.specs_items .item img {
  max-width: 50%;
}

.specs {
  float: left;
  width: 100%;
  margin: 0;
  padding: 8vw 0;
  padding-top: 5vw;
}

.specs .contentwrap {
  padding: 0 3vw;
}

.specs .contentwrap h3 {
  text-align: center;
  color: white;
  font-size: 4.5vw;
  font-family: Helvetica, sans-serif;
  margin-bottom: 1vw;
}

.specs .contentwrap p {
  text-align: center;
  color: white;
  font-size: 1.5vw;
  line-height: 150%;
  font-family: Helvetica, sans-serif;
  margin-bottom: 1vw;
}

.specs .tablewrap {
  display: table;
  width: 45vw;
  margin: 4vw auto 0;
}

.specs .tablewrap table {
  float: left;
  width: 100%;
  overflow: hidden;
  border-spacing: 0;
  border-collapse: collapse;
  border-radius: 50px;
  box-shadow: 0 0 15px rgb(0 0 0 / 20%);
}

.specs .tablewrap table tr th {
  color: #fff;
  font-size: 1.5vw;
  font-family: Helvetica, sans-serif;
  background: var(--color-blue-1);
  padding: 1.25vw;
  border: none;
  width: 50%;
  text-align: center;
}

.specs .tablewrap table tr:nth-of-type(2n) th {
  background: #eee;
  color: var(--color-blue-1);
}

.specs .tablewrap table tr td {
  color: white;
  background: var(--color-blue-1);
  font-size: 1.5vw;
  font-family: Helvetica, sans-serif;
  padding: 1.25vw;
  border: none;
  width: 50%;
  text-align: center;
}

.specs .tablewrap table tr:nth-of-type(2n) td {
  background: #eee;
  color: var(--color-blue-1);
}

.specs .tablewrap table tr td:hover {
  background: var(--color-blue-2);
}

.bg-orange-gradient {
  background: linear-gradient(
    to right,
    var(--color-orange-1) 30%,
    var(--color-orange-2) 100%
  );
}

input,
textarea {
  width: 100%;
  max-width: 500px;
  height: 100px !important;
  font-size: 40px !important;
  margin-bottom: 50px !important;
}

textarea {
  height: 300px !important;
  max-width: 100%;
}

input:focus,
textarea:focus {
  outline: 2px solid dodgerblue !important;
}

button {
  padding: 40px 100px !important;
  font-size: 40px !important;
}

.copyright a {
  color: white;
  border-bottom: 1px solid #000;
}

.social a {
  color: #000;
  padding: 0 60px;
}

.social a:last-of-type {
  padding-right: 0;
}

.smaller-text {
  font-size: 8px;
}

.email-invalid {
  display: none;
  color: red;
}
